*{
    padding: 0px;
    margin: 0px;
}

html{
    height: 100%;
}

body{
    height: 100%;
    background-color: rgb(237, 237, 237);
}

.triangle-topleft {
    width: 100%;
    height: 100%;
    border-top: 100px solid rgb(248, 153, 61);
    border-right: 100px solid transparent;
  }

