*{
    padding: 0px;
    margin: 0px;
}

html{
    height: 100%;
}

body{
    height: 100%;
    background-color: rgb(237, 237, 237);
}

.parent{
    width: 100%;
    height: 100%;
    display: flex;
}

.menu{
    background-color: rgb(248, 153, 61);
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
}

.menu-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.menu-section.logout-section {
  align-self: flex-end;
  margin-top: auto;
  border-top: 3px solid white;
}

.menu-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: rgb(237, 237, 237);
    cursor: pointer;
}

.todos{
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo{
    background-color: rgb(248, 153, 61);
    width: 220px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* border-radius: 10px; */
}

.todoTitle{
    color: rgb(237, 237, 237);
    width: 70%;
}

.date{
    color: rgb(237, 237, 237);
}

.todosts{
    background-color: rgb(237, 237, 237);
    border-radius: 20px;
    padding: 5px;
    color : rgb(248, 153, 61);
    width: fit-content;
    text-align: center;
    cursor: pointer;
}

.inprogress{
    background-color: rgb(251, 255, 0);
    border-radius: 20px;
    padding: 5px;
    color : white;
    width: fit-content;
    text-align: center;
    cursor: pointer;

}

.done{
    background-color: rgb(63, 238, 63);
    border-radius: 20px;
    padding: 5px;
    color : white;
    width: fit-content;
    text-align: center;
    cursor: pointer;
}

.mbtns{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(237, 237, 237);
    cursor: pointer;
}

.todo-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todolist{
    background-color: rgb(248, 153, 61);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;   
}

.addContainer{
    display: flex;
    justify-content: space-between;
}

.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.itemTitle{
    width: 70%;
}

.itemTicked{
    text-decoration: line-through;
}

.cardHeader{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}